    <div class="user">
        <div class="flat-green">
            <div class="app-container">
                <div class="row content-container">
                    <!--Top nav===========================================================================================================-->
                    <%= render 'users/top_nav' %>
                    <!--Side menu begins =================================================================================================-->
                    <%= render 'users/side_nav' %>
                    <!-- Main Content==================================================================================================== -->
                    <div class="mcontainer"> <!--The mcontainer adjusts the height for the update form found in custom.css.scss-->
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3">
                                <h1 class="text-center">Edit Account</h1>

                                <h5 class="text-center"><% flash.each do |key, value| %>
                                  <% if key == 'success' %>
                                    <%= content_tag :div, value, class: "text-#{key} fa fa-check-square-o" %>
                                  <% else %>
                                    <%= content_tag :div, value, class: "text-#{key} fa fa-exclamation-triangle" %>
                                  <% end %>
                                <% end %>
                                </h5>

                                <div>
                                    <%= render 'form' %>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- End Main Content==================================================================================================== -->
                </div>
            </div>
        </div>
    </div>

