<%= simple_form_for @car,  url: user_cars_path do |f| %>
    <div class="form-group">
        <%= f.label :car_type %>
        <%= f.select :car_type, ['Sedan', 'Coupe', 'SUV', 'Wagon/Hatchback', 'Pickup Truck', 'Minivan', 'Van'], {prompt: "Please select"}, class: 'form-control' %>
    </div>
    
    <div class="form-group">
        <%= f.label :make %>
        <%= f.text_field :make, class: 'form-control' %>
    </div>
    
    <div class="form-group">
        <%= f.label :model %>
        <%= f.text_field :model, class: 'form-control' %>
    </div>
    
    <div class="form-group">
        <%= f.label :color %>
        <%= f.text_field :color, class: 'form-control' %>
    </div>
    
    <div class="form-group">
        <%= f.label :year %>
        <%= f.text_field :year, class: 'form-control' %>
    </div>
    
    <div class="form-group">
        <%= f.label :licence_plate %>
        <%= f.text_field :licence_plate, class: 'form-control' %>
    </div>
    
    <% if current_page?(controller: 'cars', action: 'new') %>
        <div class="form-group">
            <%= f.submit "Add", class: 'btn btn-primary' %>
            <%= link_to "Cancel", user_cars_path(current_user), class: "btn btn-default" %>
        </div>
    <% else %>
        <div class="form-group">
            <%= f.submit "Update", class: 'btn btn-primary' %>
            <%= link_to "Cancel", user_cars_path(current_user), class: "btn btn-default" %>
        </div>
    <% end %>
<% end %>





